span.price {
    font-family: "Montserrat";
}

span.price.header {
    font-size: 21px;
    font-weight: bold;
}

span.amount {
    font-size: 28px;
    font-weight: bold;
    color: #339966;
}

.video-showreel {
    height: 460px;
}

.video_overlay {
    display: block;
    width: 100%;
    height: 460px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.pattern-overlay {
    min-width: 100%;
    min-height: 460px;
    width: auto;
    height: auto;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay-white-dots {
    background: url(/images/white-dots.png);
}

.center-wrap {
    float: right;
    position: relative;
    left: -50%;
    height: auto;
    display: table;
}

.center-help-wrap {
    left: 50%;
    top: 200px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

@media (max-width: 812px) {
    .video_overlay {
        background-image: url("/images/showreel-image.jpg");
        background-size: cover;
    }

    .video_overlay video {
        display: none;
    }

    .feedbacks .next, .feedbacks .prev {
        display: none;
    }
}

.imgleft {
    float: left;
    margin: 7px 7px 7px 0;
}

.imgright {
    float: right;
    margin: 7px 0 7px 7px;
}

.promo {
    font-size: 20px;
    text-align: center;
}

.social-icon a:link {
    text-decoration: none;
    padding: 5px 10px;
}

.feedback-body {
    font-size: 14px;
    text-align: left;
}

.avatar {
    width: 80px;
}

.clip-circle {
    clip-path: circle(40px at center);
    /* OLD VALUE example: circle(245px, 140px, 50px); */
    /* Yep, even the new clip-path has deprecated stuff. */
}

.activity_rounded {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
}

.activity_rounded img  {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
    vertical-align: middle;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
    font-size: 12px;
    font-weight: bold;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.square {
    float:left;
    /*position: relative;*/
    width: 20%;
    /*padding-bottom : 20%; !* = width for a 1:1 aspect ratio *!*/
    margin-top:.3%;
    /*background-color: #e2e2e2;*/
    overflow:hidden;
}

.content {
    /*position:absolute;*/
    /*height:100%; !* = 100% - 2*5% padding *!*/
    width:98%; /* = 100% - 2*5% padding */

}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    border: 1px solid #ededed;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}